<!DOCTYPE html>
<html>
<head>
	<title>Login/Register</title>
    <link rel="stylesheet" href="/estilos/style2.css">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="/user/register" method="POST"> 
					<label for="chk" aria-hidden="true">Register</label>
					<input type="text" name="nombre" placeholder="User name" required="">
					<input type="email" name="correo" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<button>register</button>
				</form>
			</div>

			
	</div>
</body>
</html>